*{
    box-sizing: border-box;
}


body{
    margin: 0;
    padding: 0;
    background-color: #0f1424;
    font-family: 'Rubik', sans-serif;
    color: #f8f8f8;
    font-weight: 400;
    font-size: 1.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1,
h2, 
h3{
    margin: 0;
}

h1, h2{
    font-weight: 300;
}

h1{
    font-size: 1.7rem;
}

h2{
    font-size: 2.3rem;
}

h3{
    font-size: 1.1rem;
}

p{
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.699);
    margin: 0 0 0.5em;
}

.nav-item{
    text-decoration: none;
    text-transform: capitalize;
    color: rgba(189, 193, 255, 0.671);
}

.nav-item:hover,
.nav-item:focus{
    color: #f8f8f8;
}

.nav-item.active{
    color: #fff;
}



img[src="images/icon-ellipsis.svg"]{
    cursor: pointer;
}

.header{
    background-color: rgb(111, 118, 200);
}

.work{
    background-color: #ff8c66;
}

.play{
    background-color: #56c2e6;
}

.study{
    background-color: #ff5c7c ;
}

.exercise{
    background-color: #4acf81;
}

.social{
    background-color: #7536d3 ;
}

.selfcare{
    background-color: #f1c65b;
}


/* ==================================
========layout====================
================================== */

.background-card{
    display: flex;
    justify-content: flex-end;
    padding-right: 1em;
    height: 50px;
    overflow: hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: -0.5em;
   
}

.background-card img{
    height: 100%;
    margin-top: -0.5em;
}

.main-grid{
    width: 100%;
    max-width: 1020px;
    margin: 10% auto;
    display: grid;
    grid-template-columns: 0px auto 0px;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-gap: 1em;
    grid-template-areas: 
        " . header . "
        " . card1 . "
        " . card2 . "
        " . card3 . "
        " . card4 . "
        " . card5 . "
        " . card6 . "; 
}

.card{
    border-radius: 15px;
    grid-column: 2/3;
    width: 100%;  
    background-color: #1c1f4a;
}

.header-card{
    grid-area: header;
}

.card1{
    grid-area: card1;
}

.card2{
    grid-area: card2;
}

.card3{
    grid-area: card3;
}

.card4{
    grid-area: card4;
}

.card5{
    grid-area: card5;
}

.card6{
    grid-area: card6;
}


.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2em 0.5em;
    border-radius: 15px; 
}

.header-userpic{
    border: 4px solid white;
    border-radius: 50%;
    width: 85px;
    height: 85px;
}

.header-userpic img{
    width: 100%;
    height: 100%;
}

.header-card_nav{
    padding: 1.5em 1.3em;
    display: flex;
    justify-content: space-between;
}

.card-body_grid{
    border-radius: 15px;
    background-color: #1c1f4a;
    display: grid;
    grid-template-columns: 1em auto 2em auto 1em;
    grid-template-rows: 1em auto auto 3em;
    grid-gap: 0.2em;
    grid-template-areas: 
        ". . . . ."
        ". heading . dots . "
        ". hours . last ."
        ". . . . .";
       
}

.card-body_grid h3{
    grid-area: heading;
}

.card-body_grid img{
    grid-area: dots;
    align-self: center;
    justify-self: end;
}

.card-body_grid h2{
    grid-area: hours;
}

.card-body_grid p{
    grid-area: last;
    align-self: center;
    justify-self: end;
}


@media (min-width: 800px){
    .main-grid{
        grid-template-columns: 1em 13em auto auto auto 1em;
        grid-template-rows: auto auto;
        grid-template-areas: 
            ". header card1 card2 card3 ."
            ". header card4 card5 card6.";
    }
    .header,
    .header-card_nav{
        padding-left: 2em;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }
    .header-userpic{
        margin-bottom: 1.5em;
    }
    .nav-item{
        margin-bottom: 0.8em;
    }
    .card-body_grid{
        grid-gap: 0.5em;
        grid-template-areas: 
            ". . . . ."
            ". heading . dots . "
            ". hours . . ."
            ". last last . .";
    }
    .card-body_grid p{
        justify-self: start;
    }
}


.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(64, 100%, 66%); 
}